
  @import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

.header{
    display: flex;
    flex-direction: row;
    text-align: center;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}
select {
    font-family: 'Road Rage', cursive;
    font-size: 1.15em;
}


.itineraryForm{
    display: flex;
    flex-direction: column;
    background-color:lightblue;
    gap: 100px;
    padding:20px;
    margin-right: 100px;
    border: 1px dashed black;
    
}
#headerImage{
    text-align: center;
    margin-left: 35px;
}
.itineraryPreviewBox{
text-align: center;
}


.itineraryPreview {
    display: flex;
    flex-direction: column;
    padding:50px;
    padding-top: 0px;
    text-align: center;
    margin-left: 90px;
    font-size: 1.5em;
   
    
}
.savedItinerary {
    display: flex;
    flex-direction: column;
    padding:50px;
    text-align: center;
    float: right;
    width: 20%;
    position: absolute;
    right:0px;
    margin-left: 0px;
}
.itineraryForm select{
    margin: 10px;
    width: 150px;
    text-align: center;
}
.previewItem{
    margin: 25px;
    
}

body {
    height: 725px;
    font-family: 'Road Rage', cursive;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-size: 7em;
    margin-left: 180px;
    
}
#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
   
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 275px;
    height: 275px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}
.popupcontent{
   
    text-align: center;
    padding: 5px;
}
.directions {
    margin-top: 50px;
    text-align: center;
    list-style-position: inside;
}
.directionsButton{
    background-color: white;
    margin: 10px;
    color: black;
    border: 2px ridge grey;
    padding: 8px;
    
}


.savedItineraryList{
    background-color:lightblue;
    border: 1px dashed black;
    margin: 10px;
    padding: 10px;
    list-style-type:none;
}